language: php

php:
  - 5.3
  - 5.4

env:
  - SYMFONY_VERSION=origin/master

before_script: php vendor/vendors.php

script: phpunit --coverage-text

notifications:
  email:
    - friendsofsymfony-dev@googlegroups.com
