language: php

php:
  - 5.3
  - 5.4

env:
  - SYMFONY_VERSION=v2.0.6
  - SYMFONY_VERSION=origin/2.0

before_script: php vendor/vendors.php

notifications:
  email:
    - friendsofsymfony-dev@googlegroups.com
